# *.txt
**/*.zip
*.json
runs/
results/
**/runs/
**/results/
**/*.pt
**/*.tar
*.tar.gz
**/*.tar.gz
*.zip
**/*.zip
**/*.jld2
__pycache__/
cifar10_pytorch/
mnist_pytorch/
# *.sh
*.pyc
imagenet_samples/
*.out
